@import "../settings/breackpoints";


.paragraphs-list {
  position: relative;
  max-height: 62.5rem;
  overflow: hidden;
  padding-top: 5rem;


  &__container {
    position: sticky;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 25rem;
    max-width: 420px;
    margin: 0 auto;
  }

  &__title {
    font-size: 1.25rem;
    color: var(--orange);
    opacity: .5;
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @include tablet-up {
      font-size: 1.5rem;
    }

    &::before {
      content: '';
      background: url('../../resources/img/wheel.svg') no-repeat center/contain;
      translate: 0 10rem;
      pointer-events: none;
      position: absolute;
      width: 50rem;
      height: 50rem;
      animation: rotate 10s linear infinite reverse;
      z-index: 1;
    }
  }
}

.paragraph {

  flex: 0 0 100%;
  scroll-snap-align: center; // ou start
  scroll-snap-stop: always;


  &__container {
    position: relative;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 2rem;
    -webkit-overflow-scrolling: touch;
    gap: 3.5rem;
    transform: translateY(5rem);
    max-width: 90%;
    padding-inline: 1rem;
    align-self: center;
    z-index: 2;

     //Cacher la scrollbar
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // Internet Explorer 10+

    &::-webkit-scrollbar {
      display: none; // Chrome, Safari
    }

  }

  &__title {
    font-size: 1.25rem;
    color: var(--orange);
    opacity: .5;
    margin-bottom: .5rem;
  }

  &__content {
    color: var(--text-secondary);
    line-height: 1.5;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

