@import "../settings/breackpoints";


.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 9rem;

  @include mobile {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  @include tablet {
    flex-direction: column-reverse;
    gap: 2rem;
  }


  &__headline {
    font-family: 'Lora-italic', 'Georgia', serif;
    font-size: 2.5em;
    padding: 0 14%;
    margin-bottom: 7.5rem;

    @include tablet-up {
      font-size: 4rem;
    }

    @include tablet {
      margin-bottom: 2.5rem;

    }

    @include mobile {
      padding: 2.5rem 1.25rem .5rem;
      margin-bottom: 0;
    }
  }

  &__success{
    color: var(--text-primary);
    font-size: 1.25rem;
    margin-top: 2rem;
  }
}

.form__wrapper {
  flex-grow: 2;
  max-width: 39.5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  @include tablet-up {
    order: -1;
  }
}

.info {

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;


    & ul {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
  }

  &__link{
    transition: border-bottom .1s linear;
    border-bottom: 1px solid transparent;
    padding-bottom: .2rem;

    &:hover, &:focus, &:active {
      border-bottom: 1px solid var(--text-secondary);

    }
  }


  &__title {
    font-size: 1.25rem;
    color: var(--orange);
    opacity: .5;
  }

  &__item {
    color: var(--text-secondary);
  }
}