@import "../settings/breackpoints";

.hero {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto ;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  position: relative;
  margin-top: 9rem;
  margin-bottom: 4rem;

  &::after{
    content: '';
    position: absolute;
    bottom: 40%;
    left: -15%; // 👉 elle part de la gauche
    width: 100px;
    height: 100px;
    background: url('../../resources/img/spaceship.svg') no-repeat center/contain;
    animation: fly-diagonal-right 10s ease-out infinite;
    animation-delay: 2s;
    pointer-events: none;
    z-index: -1;
  }


  @include tablet {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
  }


  @include mobile {
    display: flex;
    flex-direction: column;
    margin: 4rem 8.8% 0;
  }

  &__svg--sun {
    position: absolute;
    right: 12vw;
    top: -10vw;
    width: 15vw;
    height: 15vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    z-index: -1;

    @include desktop-up {
      right: 22rem;
      top: -10rem;
    }


    @include mobile {
      transform: translateX(3rem) translateY(-3rem) scale(0.8);
    }
  }

  &__svg--text {

    position: absolute;
    visibility: hidden;

    @include desktop-up {
      visibility: visible;
      right: 7rem;
      top: -2rem;
      width: 10vw;
      height: 10vw;
      min-width: 200px;
      min-height: 200px;
      max-width: 250px;
      max-height: 250px;
      opacity: .7;
      font-size: 0.8125rem;
    }

    & text {
      fill: var(--text-primary);
      letter-spacing: 0.19rem;
    }
  }

  &__title {

    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 1fr 1fr; // 2 colonnes de taille égale
    grid-template-rows: 1fr 1fr ; // 2 lignes
    font-size: 18vw;
    gap: 2rem;

    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
    }

    &--first {
      font-family: 'Lora-italic', 'Georgia', serif;
      line-height: .8;
      grid-column: 1 / 3;
      grid-row: 1 / 2;


      @include mobile {
        font-size: 4rem;
      }

      @include widescreen {
        font-size: 21.375rem;
      }
    }


    &--second {
      font-weight: 800;
      line-height: .8;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: end;

      @include tablet {
        align-self: flex-end;
      }

      @include mobile {
        font-size: 6rem;
        align-self: flex-end;
      }

      @include widescreen {
        font-size: 21.375rem;
      }
    }
  }

  &__name {

    &__container {
      display: flex;
      justify-content: flex-end;
      grid-column: 2 / 3;
      grid-row: 2 / 2;

      @include tablet {
        align-self: flex-end;
      }

      @include mobile {
        align-self: flex-end;
      }
    }

    display: inline-block;
    line-height: 1.2;
    font-weight: 200;
    background: linear-gradient(0.25turn, var(--text-primary), var(--oranger));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4vw;


    @include mobile {
      font-size: 2rem;
    }

    @include tablet{
      font-size: 2rem;
    }

    @include widescreen{
      font-size: 5rem;
    }
  }

  &__quote {

    &__container {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
        transform: translateY(3rem);

      @include tablet {
        font-size: 0.8125rem;
        max-width: 300px;
        margin-top: 1.125rem;
        margin-bottom: 2.5rem;
        display: block;
        transform: translateY(0);
        align-self: start;

      }

      @include mobile {
        font-size: 0.8125rem;
        max-width: 300px;
        margin-top: 1.125rem;
        margin-bottom: 2.5rem;
        display: block;
        transform: translateY(0);
        align-self: start;
      }
    }

    @include desktop-up{
      font-size:1.25rem;
      max-width: 350px;
    }

    color: var(--text-secondary);
    line-height: 1.4;

  }

  &__cta {
    display: inline-block;
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    justify-self: start;
    align-self: start;
    transform: translatex(7rem);

    @include tablet {
      align-self: flex-end;
      transform: translatex(0);

    }

    @include mobile {
      align-self: flex-end;
      transform: translatex(0);
    }
  }
}


@keyframes fly-diagonal-right {
  0% {
    transform: translate(0, 0) rotate(-25deg) scale(1);
    opacity: 1;
  }

  10% {
    opacity: 1;
  }


  60% {
    transform: translate(120vw, -50vh) rotate(-15deg) scale(0.1);
    opacity: 0;
  }

  100% {
    transform: translate(120vw, -50vh) rotate(-15deg) scale(0.1);
    opacity: 0;
  }
}
