@import "../settings/breackpoints";


.skills{

  &__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start
  }

  &__title{
    font-size: 1.25rem;
    color: var(--orange);
    opacity: .5;
    margin-bottom: 2.5rem;
    align-self: center;
    display: flex;
    flex-direction: column-reverse;

    @include tablet-up{
      margin-bottom: 4rem;
      font-size: 1.5rem;
    }

  }

  &__cta{
    align-self: center;
    margin-top: 2.5rem;

    @include tablet-up{
      align-self: flex-end;
    }
  }
}

.cta-above{
  margin-top: 4rem;
  align-self: center;
  color: var(--orange);
  opacity: .5;
}