:root {
  --background-color: #1F1F1D;

  --text-primary: #D6D6D6;
  --text-secondary: #6F6F6F;
  --greyish: #7A7A79;
  --orange: #F29337;
  --oranger: #ED772F;
  --redish: #ED642D;

  --cta-background1: #2B2A26;
  --cta-background2: #373737;
}