@import "../settings/breackpoints";

.footer-menu {

  display: flex;
  color: var(--text-primary);
  font-size: 1rem;
  flex-direction: column;
  padding-top: 4.375rem;
  padding-bottom: 7.75rem;

  @include tablet {
    gap: 3.75rem;
    padding: 7rem 1.25rem;
  }

  @include mobile {
    gap: 3.75rem;
    padding: 7rem 1.25rem;

    &::before {
      position: absolute;
      content: '';
      width: calc(100vw - 2.5rem);
      height: 800px;
      transform: translate(0, -10rem);
      background-image: url('../../resources/img/black-hole.svg'); // ton SVG
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      z-index: -1;
      pointer-events: none;
    }
  }

  &__container {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3.75rem;
    margin: 4.375rem 0;
    padding: 0 10%;

    @include tablet {
      flex-direction: column;
      gap: 3.75rem
    }

    @include mobile {
      flex-direction: column;
      gap: 3.75rem
    }
  }

  &__title {

    letter-spacing: 0.05em;
    font-weight: 800;
    font-size: 1.25rem;

    & > ul {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      margin-top: 1.25rem;
    }
  }

  &__item {

    font-size: 1rem;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--text-primary);
    opacity: .6;
  }

  &__link {
    transition: border-bottom 0.3s ease;

    &:hover {
      border-bottom: 1px solid var(--text-secondary);
    }
  }

  &__legal {
    padding: 0 10%;
    display: flex;
   justify-content: space-between;

    & a.footer-menu__link {
      align-self: flex-start;
    }

    @include desktop-up {

    }

    @include desktop {

    }

    @include tablet-up {

    }

    @include tablet {
      flex-direction: column;
      gap: 1rem;
      font-size: 0.75rem;
    }

    @include mobile {
      flex-direction: column;
      gap: 1rem;
      font-size: 0.75rem;
    }
  }
}