@import "../settings/breackpoints";


/* Style de la page 404 */
.not-found {
  text-align: center;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;

  &__title {
    font-family: 'Boldonse', sans-serif;
    color: #d9534f;
    font-size: 2em;
  }

  &__message {
    font-size: 1.1em;
    color: #333;
  }

  &__link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

html, body {
  min-height: 100%;
  position: relative;
}

.wrapper{
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
}

body {
  font-size: 16px;
  color: var(--text-primary);
  background-color: var(--background-color);
  margin: 0 auto;
  min-height: 100%;
  min-width: 320px;
  overflow-x: hidden;


  @include mobile {
    font-size: 14px;
  }

  &:has(.nav__checkbox:checked) {
    overflow: hidden;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url('../../resources/img/night_sky.jpeg');
    background-repeat: repeat;
    background-size: 150% 20%;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
  }
}


#footer{
  position: relative;
  overflow: hidden;

  @include mobile {
    &::after{
      position: absolute;
      content: '';
      width: 180vw;
      height: 7.5rem;
      flex-shrink: 0;
      border-radius: 180vw;
      background: radial-gradient(50% 50% at 50% 50%,
              var(--Colors-Orange-2, rgba(237, 119, 47, 0.51)) 0%,
              var(--Colors-Beige, rgba(175, 173, 150, 0.51)) 74.99%,
              var(--Colors-Orange, rgba(242, 147, 55, 0.51)) 83.17%,
              var(--Colors-Orange-3, rgba(237, 100, 45, 0.51)) 100%);
      filter: blur(75px);

    }
  }
}

.section {

  padding: 0 14%;

  @include mobile {
    padding: 2.5rem 1.25rem 5rem;
  }
}

.aside {
  @include desktop-up {
    padding: 0 6.4%;
  }

  @include desktop {
    padding: 0 6.4%;
  }

  @include tablet-up {
    padding: 0 6.4%;
  }

  @include tablet {
    padding: 0 6.4%;
  }

  @include mobile {
    padding: 0 1.25rem;
  }
}

