@import "../settings/breackpoints";


/* Style de la page 404 */
.not-found {
  text-align: center;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;

  &__title {
    font-family: 'Boldonse', sans-serif;
    color: #d9534f;
    font-size: 2em;
  }

  &__message {
    font-size: 1.1em;
    color: #333;
  }

  &__link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

html, body {
  min-height: 100%;
  position: relative;
}

body {
  font-size: 16px;
  color: var(--text-primary);
  background-color: var(--background-color);
  margin: 0 auto;
  min-height: 100%;
  max-width: 1800px;
  min-width: 320px;

  @include mobile {
    font-size: 14px;
  }

  &:has(.nav__checkbox:checked) {
    overflow: hidden;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url('../../resources/img/night_sky.jpeg');
    background-repeat: repeat;
    background-size: 150% 20%;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
  }
}

#content{
  overflow: hidden;

  @include desktop-up {

  }

  @include desktop {

  }

  @include tablet-up {

  }

  @include tablet {
  }

  @include mobile {
  }
}

#footer{
  @include desktop-up {

  }

  @include desktop {

  }

  @include tablet-up {

  }

  @include tablet {
    padding: 1.25rem;
  }

  @include mobile {
    padding: 1.25rem;

  }
}

.section {

  @include tablet {
    padding: 0 1.25rem;
  }

  @include mobile {
    padding: 0 1.25rem;

  }
}

