@import "../settings/breackpoints";


.header{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1.25rem;

  @include desktop-up {
    padding: 2rem 4rem;
  }

  @include desktop {
    padding: 2rem 4rem;
  }

  @include tablet {
    padding: 1.25rem;
  }

  @include mobile {
    padding: 1.25rem;
  }
}