@import "../settings/breackpoints";


.languages {
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__container {
    display: flex;


    @include desktop-up {
      gap: 1.25rem;
      align-items: center;
    }

    @include desktop {
      gap: 1.25rem;
      align-items: center;
    }

    @include tablet-up {
      gap: 1.25rem;
      align-items: center;
    }

    @include tablet {
      flex-direction: column;
      gap: 3rem;
      margin-top: 3rem;
    }

    @include mobile {
      flex-direction: column;
      gap: 3rem;
      margin-top: 3rem;
    }
  }

  &__item {

    text-transform: uppercase;
    font-size: 1rem;
    transition: color .3s, opacity .3s ease;
    border-radius: .5rem;
    color: var(--text-primary);
    opacity: .7;


    &--current {
      display: none;
    }

    &:hover{
      color: var(--text-primary);
      opacity: 1;
    }

    @include mobile {
      font-size: 1rem;
    }
  }
}