@import "../settings/breackpoints";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  @include desktop-up {

  }

  @include desktop {

  }

  @include tablet-up {

  }

  @include tablet {

  }

  @include mobile {

  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    z-index: 101;

    @include desktop-up {

    }

    @include desktop {

    }

    @include tablet-up {

    }

    @include tablet {

    }

    @include mobile {

    }
  }


  &__container {

    display: flex;
    z-index: 100;


    @include desktop-up {
      gap: 3.125rem;
    }

    @include desktop {
      gap: 3.125rem;

    }

    @include tablet-up {
      gap: 3.125rem;

    }

    @include tablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      height: 100vh;
      bottom: 0;
      overflow: hidden;
      right: -100vw;
      width: 50vw;
      transition: all 0.4s ease-out;
      background-image: url("../../resources/img/burger_bg.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include mobile {}
    }

    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      height: 100vh;
      bottom: 0;
      overflow: hidden;
      right: -100vw;
      width: 100vw;
      transition: all 0.4s ease-out;
      background-image: url("../../resources/img/burger_bg.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

  }

  &__checkbox {

    position: absolute;
    right: .75rem;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;

    @include desktop-up {

    }

    @include desktop {

    }

    @include tablet-up {

    }

    @include tablet {

    }

    @include mobile {

    }


  }

  &__item {

    color: var(--text-secondary);

    @include desktop-up {

    }

    @include desktop {

    }

    @include tablet-up {

    }

    @include tablet {
      margin-top: 3rem;

    }

    @include mobile {
      margin-top: 3rem;

    }
    &.current {
      color: var(--text-primary);
    }
  }

  &__link {
    position: relative;
    padding: .2rem 0;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    transition: transform 0.2s ease;

    &.current::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background: var(--orange);
      opacity: .5;
      transform: scaleX(1);
    }


    &:hover{
      color: var(--text-primary);
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background: var(--orange);
      opacity: .5;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.2s ease;
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
    }
  }
}


